<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="EyugaaDBConnectionString" connectionString="Data Source=199.79.62.22;Initial Catalog=EyugaaDB;User ID=EyugaaSA;Password=Abc123#*"
      providerName="System.Data.SqlClient" />
    <add name="EyugaaDBConnectionString2" connectionString="Data Source=199.79.62.22;Initial Catalog=EyugaaDB;User ID=EyugaaSA;Password=Abc123#*"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>